.ItemDetailContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.Detalle {
    padding: 5rem;
}

.cargarProductos {
    text-align: center;
    padding-top: 30px;
    font-family: NunitoNormal;
    color: #10152f;
    font-size: 30px;
  }