.itemListContainer {
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #23A,#abb0f0, #EE7752);
    
    }
  
  .itemLC-title {
    color: aliceblue;
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
    font-family: NunitoImportant;
  }
  