.itemListContainer {
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #23A,#abb0f0, #EE7752);
    
    }
  
    .itemListContainer h1{
      font-size: 2rem;
      color: #23A;
      text-transform: uppercase;
      text-align: center;
      font-family: NunitoNormal;
    }
  .itemLC-title {
    color: aliceblue;
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
    font-family: NunitoImportant;
  }

.cargarProductos {
  text-align: center;
  padding-top: 30px;
  font-family: NunitoNormal;
  color: #10152f;
  font-size: 30px;
}
  