.productCard {
    text-align: center;
  }
  
  .productName {
    font-size: 1.6rem;
    color: #10152f;
    font-family: NunitoImportant;
  }

  .productPrice {
    font-size: 1.3rem;
    color: #0a0e1e;
    font-family: NunitoNormal;
  }

  .detailButton {
    text-decoration: none;
    border-radius: 25;
    margin-top: 20px;
    width: auto;
    padding: 12px;
    font-size: 1rem;
    background: #10152f;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

.ItemFooter {
  display: flex;
  justify-content: center;
}
  