.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5265c4;
}

.navLogo {
    font-weight: 700;
    font-size: 22px;
    margin: 15px;
    color: white;
}