.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5265c4;
}

.botonesNav {
    font-size: 20px;
    font-family: NunitoImportant;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    position: relative;
    padding: 5px;
    text-decoration: none;
    border-style: inset;
    border-color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    
}