.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
    font-family: NunitoImportant;
}

.Button {
    text-decoration: none;
    margin: 0 30px;
    width: auto;
    padding: 12px;
    background: #10152f;
    border-radius: 8px;
    border: none;
    border-style: none;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    outline: inherit;
    font-family: NunitoImportant;
}

.modifyQuantity {
    display: flex;
    justify-content: center;
    
}

.number {
    font-size: 25px;
    padding: 20px;
    margin: 0;
    order: 1;
    color: aliceblue;
}

